BASE_API_URL=https://api.9chain.com/v2
DEFAULT_PASSWORD=Naufal123
TAP_BATCH_SIZE=500
DELAY_BETWEEN_ACCOUNTS=2
LOOP_REST_MINUTES=1440
RESERVE_TIER_COST=true
AUTO_UPGRADE_TIER=true
AUTO_UPGRADE_COMPONENTS=true
MAX_RETRIES=3
TIMEOUT=15
